.change-quote { 
    background-image: url(../images/reload.svg);
}

.player-icon,
.slider-icon,
.change-quote {
    background-color: transparent;
    background-size: cover;
    border: 0;
    height: 32px;
    width: 32px;
}

.reload-animation {
    animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
    100% {
        transform: rotate(360deg);
    }
}

.slider-button {
    height: 32px;
    width: 32px;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.slider-button:hover {
    opacity: 1;
}

.slider-prev {
    background-image: url("../images/slider-prev.svg");
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
}

.slider-next {
    background-image: url("../images/slider-next.svg");
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}